{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">
</head>

<body>
    <div class="container">

        <a href="../admin/">Admin</a>
        <a href="/">Main</a>

        <div class="h1-text">Last Releases</div>

        <div class="grid-cards">
            {% for item in album %}
            <div class="grid-item-card">
                <a href="{{ item.content }}" target="_blank">
                    <img class="card-service" src="">
                    <div class="card">
                        <img src=" {{ item.cover.url }} ">
                        <div class="card-price">{{ item.data_created }}</div>
                        <div class="card-title">{{ item.title }}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>